<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chapters for {{ subject.name }}</title>
    <!-- <link rel="stylesheet" href="../static/style/dashboard2.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/dashboard2.css') }}">

</head>
<body>
    <div class="container">
        <h2>Chapters for {{ subject.name }}</h2>
        <form action="{{ url_for('add_chapter', subject_id=subject.id) }}" method="POST">
            <div class="input-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>

            <div class="input-group">
                <label for="description">Description:</label>
                <textarea id="description" name="description" required></textarea>
            </div>

            <div class="buttons">
                <button type="submit">Save</button>
                <button type="button" onclick="document.getElementById('cancel-form').submit();">Cancel</button>
            </div>
        </form>
        <form id="cancel-form" action="{{ url_for('view_chapters', subject_id=subject.id) }}" method="GET" style="display: none;"></form>
        <ul>
            {% for chapter in chapters %}
            <li>{{ chapter.name }}: {{ chapter.description }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>