<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style/main.css">
        <link rel="stylesheet" href="../static/style/bootstrap.min.css">
        
        <title>Home Page</title>
    </head>
    <body>
        <h3 class="centre">welcome to quiz portal</h3>
        <div class="centre">
            <h3>1. Eligibility to Participate
               All registered users are eligible to participate in quizzes.</h3>
            <h3>2.Quiz Format
               Each quiz consists of multiple-choice, true/false, or short-answer questions.
               The number of questions and time limit will vary depending on the quiz.</h3>
            <h3>3. Timing and Deadlines
               Each quiz has a set time limit; ensure you complete it within the given time.
               Late submissions or exceeding the time limit will not be considered.</h3>     
        </div>
        <div class="centre"><a href="#" type="button" class="btn btn-primary">Login</a></div>
    </body>
</html>