<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/dashboard2.css">
    <title>New Subject</title>
   
</head>
<body>
    <div class="container">
        <h2>New Subject</h2>
        <form action="{{ url_for('manage_subjects') }}" method="POST">
            <div class="input-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>

            <div class="input-group">
                <label for="description">Description:</label>
                <textarea id="description" name="description" required></textarea>
            </div>

            <div class="buttons">
                <button type="submit">Save</button>
                <button type="button" onclick="document.getElementById('cancel-form').submit();">Cancel</button>
            </div>
        </form>
        <form id="cancel-form" action="{{ url_for('admin_dashboard') }}" method="GET" style="display: none;"></form>
    </div>
</body>
</html>