<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" href="../static/style/main.css">
        <link rel="stylesheet" href="../static/style/bootstrap.min.css">
        
        <title>User Dashboard</title>
    </head>
    <body>
        <div class="my_container">
            <div class="centre"><h1>Welcome to User Dashboard</h1></div>
            <div class="my_panel">
                <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
                    <div class="collapse navbar-collapse" id="navbarText">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Scores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Summary</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Logout</a>
                        </li> 
                      </ul>
                    </div>
                  </nav>
                  <div class="outer_box">
                  <div class="container">
                    <div class="row">
                      <div class="col">
                        <!---quiz 1-->
                      </div>
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                              <h5 class="card-title">Quiz 1</h5>
                              <h6 class="card-subtitle mb-2 text-muted">Physics</h6>
                              <button type="button" class="btn btn-outline-primary">Add Chapter</button>
                            </div>
                          </div>
                      </div>
                      <div class="col">
                         <!---quiz 2-->
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                              <h5 class="card-title">Quiz 2</h5>
                              <h6 class="card-subtitle mb-2 text-muted">Chemistry</h6>
                              <button type="button" class="btn btn-outline-primary">Add Chapter</button>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
            <div class="centre"><button type="button" class="btn btn-primary">Add Quiz</button></div>
        </div>
    </body>
</html>